In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from IPython.display import display

# Kết nối tới PostgreSQL
engine = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5434/airflow')

# Đọc bảng customers từ schema  retails_data
df = pd.read_sql('SELECT * FROM retails_data.customers', engine)

# Kích thước dataframe
print("Shape:", df.shape)

# Tỉ lệ thiếu dữ liệu
print("\nMissing values per column:")
print(df.isnull().sum())

Shape: (1000, 8)

Missing values per column:
customer_id              0
name                     0
email                    0
phone                    0
loyalty_program_id       0
gender                   0
age                   1000
created_at            1000
dtype: int64

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from IPython.display import display

# Kết nối tới PostgreSQL
engine = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5434/airflow')

# Danh sách bảng
tables = [
    'brands', 'categories', 'loyalty_programs', 'suppliers', 'products',
    'stores', 'employees', 'payments', 'sales_transactions', 'sales_items', 'inventory',
    'stock_movements', 'purchase_orders', 'shipments', 'returns', 'promotions',
    'campaigns', 'customer_feedback', 'store_visits', 'pricing_history', 'discount_rules',
    'tax_rules'
]

# Schema nếu cần (ví dụ: raw_retails_data)
schema = 'raw_retails_data'

# Danh sách kết quả
results = []

customers_df = pd.read_sql(f'SELECT customer_id, name, email, phone, loyalty_program_id, created_at FROM snapshots.snapshot_customers', engine)
customers_num_rows = customers_df.shape[0]
customers_num_cols = customers_df.shape[1]
customers_nulls = customers_df.isnull().any(axis=1).sum()  

results.append({
            'Table': 'customers',
            'Num_cols': customers_num_cols,
            'Num_rows': customers_num_rows,
            'Nulls': customers_nulls
        })


for table in tables:
    try:
        # Đọc bảng
        df = pd.read_sql(f'SELECT * FROM {schema}.raw_{table}', engine)

        # Tính toán
        num_rows = df.shape[0]
        num_cols = df.shape[1]
        nulls = df.isnull().any(axis=1).sum()

        results.append({
            'Table': table,
            'Num_cols': num_cols,
            'Num_rows': num_rows,
            'Nulls': nulls
        })
    except Exception as e:
        results.append({
            'Table': table,
            'Num_cols': 'Error',
            'Num_rows': 'Error',
            'Nulls': str(e)
        })

# Chuyển thành DataFrame và hiển thị
summary_df = pd.DataFrame(results)
display(summary_df)

                 Table  Num_cols  Num_rows  Nulls
0            customers         6       990      0
1               brands         2        10      0
2           categories         2        10      0
3     loyalty_programs         3         5      0
4            suppliers         3        10      0
5             products         8       500      4
6               stores         4        20      0
7            employees         4       200      0
8             payments         4     50000      0
9   sales_transactions         7     50000      0
10         sales_items         7    100000      0
11           inventory         5     10000      0
12     stock_movements         6     10000     95
13     purchase_orders         4      1000     12
14           shipments         5      1000     18
15             returns         4      5000     54
16          promotions         4       500      8
17           campaigns         5       500     11
18   customer_feedback         7      5000     34
19        store_visits         4     10000     96
20     pricing_history         4     10000     75
21      discount_rules         6      1000     19
22           tax_rules         4       500      0

In [3]:
import pandas as pd
from sqlalchemy import create_engine, text
from IPython.display import display

# Kết nối tới PostgreSQL
engine = create_engine('postgresql+psycopg2://airflow:airflow@localhost:5434/airflow')

schema = 'raw_retails_data'

# Danh sách kết quả
results = []

customers_df = pd.read_sql(f'SELECT region from {schema}.raw_tax_rules', engine)
customers_df['region'].unique()

array(['West', 'East', 'South', 'North'], dtype=object)